@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
   

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #482ff7;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}
.nav-item button{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#ff69e4;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
    color: #c211a1;
    border-bottom: 2px solid  #c211a1;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #7f6cff;
}

@media all  and (max-width: 500px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #7f6cff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    

}



span{
    color: #c211a1;

}
.item2{
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
 }
 .item2 .ittem2{
    width: 50%;

 }
 .item2 .ittem2 h1{
    font-size: 30px;
    color: #fff;
    margin-bottom: 35px;

    
 }
 .item2 .item3{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .item2 .item3 img{
    width: 100%;
    margin-top: -30px;
 }
 .item2 .ittem2 a{
    padding: 1.5rem 5rem;
    margin-top: 700px;
    background-color: #c211a1;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
 }
 .item2 .ittem2 a:hover{
    border-radius: 10px;
    background-color: #7f6cff;
 }
 body{
    background:url(back2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    background-position: right;
    
    
 }
 input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #7f6cff;
    border-radius: 4px;
    resize: vertical;
  }
  
  .hometext{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #7f6cff;
  }
  .who{
    padding: 2rem 7%;
  }
  .us h1{
    color: #c211a1;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }
.mainwho{
    display: flex;
    justify-content:center ;
    align-items: center;
  
}
.innerwho img {
    width: 80%;


}
.innerwho{
    flex: 1 1 45rem;
}
.innerwhocontent p{
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-bottom: 35px;
    color: #fff;

}
.innerwhocontent a{
    padding: 1.5rem 2rem;
    margin-top: 700px;
    background-color: #c211a1;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
 }
 .innerwhocontent a:hover{
     border-radius: 10px;
 background-color: transparent;
 border: 2px solid #fff;
 }

 .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;margin-bottom: 15px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #7f6cff;
    height: 15rem;
    width: auto;
   
  }
  .card p{
    text-align: justify;
    font-weight: bold;
    margin-top: 19px;

  }
  .card h3{
    border-bottom: 2px solid black;
  }

.card button:hover{
    background-color: rgb(255, 191, 0);
}



form {  margin:50px auto; float: left;}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:300;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #7f6cff;
  transition: all 0.3s;
  padding: 9px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #7f6cff; }

textarea {
  height: 1px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ff69e4;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  height: 20px;
}
.col button{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#ff69e4;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;




}
[type="submit"]:hover { background:#c211a1; }

.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
}
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #0f0f15;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #7f6cff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
.col input{
    width:190px;
    height: 20px;
}
